.fixbar{
    background-color: darkgray;
    width:20%;
    height:40px;
    position: fixed;
    bottom: 0%;
    color: black;
    font-size: large;
    z-index: 1;
    text-align:center;
}
#news{
    left: 0%;
}
#project{
    left: 20%;
}
#photo{
    left: 40%;
}
#intro{
    left: 60%;
}
#facebook{
    left: 80%;
}