#news{
    background-color: darkgray;
    width:20%;
    height:5%;
    position: fixed;
    left: 0%;
    bottom: 0%;
    color: black;
    font-size: large;
}
#project{
    background-color: darkgray;
    width:20%;
    height:5%;
    position: fixed;
    left: 20%;
    bottom: 0%;
    color: black;
    font-size: large;
}
#photo{
    background-color: darkgray;
    width:20%;
    height:5%;
    position: fixed;
    left: 40%;
    bottom: 0%;
    color: black;
    font-size: large;
}
#intro{
    background-color: darkgray;
    width:20%;
    height:5%;
    position: fixed;
    left: 60%;
    bottom: 0%;
    color: black;
    font-size: large;
}
#facebook{
    background-color: darkgray;
    width:20%;
    height:5%;
    position: fixed;
    left: 80%;
    bottom: 0%;
    color: black;
    font-size: large;
}