.previous{
    color: #0f5257;
    background-color: transparent;
    background-image: none;
    border-color: #0f5257;
}
.previous:hover{
    color: white;
    background-color: #0f5257;
    background-image: none;
    border-color: #0f5257;
}
.next{
    color: #00487c;
    background-color: transparent;
    background-image: none;
    border-color: #00487c;
}
.next:hover{
    color: white;
    background-color: #00487c;
    background-image: none;
    border-color: #00487c;
}
.date{
    font-size: 10px;
    font-weight: 700;
    color: #ff8040;
}
.link1{
    text-decoration:none; 
    color:#595959;
} 
.link1:hover{
    text-decoration:none;
    color:#ff8040;
} 
.striped-border {
    border-width: 3px;
    width: 30%;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 2%;
}


