#csie{
    transform: rotate(-90deg);
    width: 0;
    padding: 0;
    margin: 0;
    border: 0;
    position: fixed;
    left: 95%;
    top: 50%;
    color: lightgray;
    font-size: large;
}
.pages{
    left:50%;
}