<!DOCTYPE html>
<html style="height: 100vh">
	<head>
		<meta charset="utf-8">
        <title> Event </title>
	</head>
    <body>
        <ul id=back>
            <input type="button" value="Home" onclick="javascript: location.href='/'">
        </ul>
        <div style="width: 100vw; height: 10vh; float: left">
            <div style="width: 70vw; height: 10vh; float: left; background-color: aqua">    
                <a>
                    <%= Events.EventName %>
                </a>
            </div>
            <div style="width: 30vw; height: 5vh; float: left; background-color: green">
                <a>
                    <%= Events.Category %>
                </a>
            </div>
            <div style="width: 30vw; height: 5vh; float: left; background-color: pink">
                <a>
                    <%= Events.CreateDate %>
                </a>
            </div>
            <div style="width: 100vw; height: 90vh; float: left">
                <a>
                    <%= Events.Content %>
                </a>
            </div>
        </div>
    </body>
</html>