<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="/static/CSS/admin_Login.css">
  </head>
  <body bgcolor="orange">
      <div class="main">
        <h1>
            NTU CSIE WEB<br>
            後台登入介面
        </h1>
        <form action="auth" method="POST">
	       <input type="text" name="username" placeholder="Username" required>
	       <input type="password" name="password" placeholder="Password" required>
	       <input type="submit" value="Submit">
        </form>
      </div>
  </body>
</html>
