.main{
	width: 35%;
    margin: 6em auto 0;
    padding: 0em 4em 5em;
}
.main h1{
	color: dimgrey;
    text-align: center;
    font-size: 2.5em;
    margin: 0 0 1.5em;
}
.main input[type="text"],.main input[type="password"]{
	outline: none;
    border: 1px solid black;
    background: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    padding: 15px 10px;
    width: 96%;
    font-size: 1.3em;
    color: #7e8fad;
    text-align: center;
    font-family: 'Syncopate', sans-serif;
}
.main input[type="password"]{
	margin:1.5em 0;
}
.main input[type="submit"]{
	outline:none;
	border:1px solid white;
	background:#0066FF;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
	padding:15px 10px;
	width:100%;
	color:white;
	font-size:1.5em;
	font-family: 'Syncopate', sans-serif;
	cursor:pointer;
}
.main input[type="submit"]:hover{
	background:#0044BB;
	color:#E6E6FA;
	border: 1px solid #FFF;
}