#Header{
    background-color: beige;
    padding: 20px;
}

#Sidebar{
    width:20%;
    height:600px;
    float:left;
    background-color: bisque;
     
    overflow-x: hidden;
    padding-top: 20px;
}

#Sidebar a {
  padding: 6px 8px 6px 16px;
  font-size: 25px;
  text-decoration: none;
  color: #818181;
  display: block;
}

#Sidebar a:hover {
  color: #f1f1f1;
}

#Body{
    width:80%;
    height:620px;
    float: right;
    background-color: aqua;
}

