<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
  </head>

  <body>
    <form name="addalbum" action="add" method="post" enctype="multipart/form-data" accept-charset="utf-8" >
      <h1><%= title %></h1>
      <div>
        <label>creater: </label>
	<input type="text" name="Creator" placeholder="creator">
      </div>
      <div>
        <label>album name: </label>
        <input type="text" name="AlbumName" placeholder="albumname">
      </div>
      <div>
        <label>album url: </label>
	<input type="text" name="URL" placeholder="url">
      </div>
      <div>
        <label>cover img: </label>
	<input type="file" name="CoverImg">
      </div>
      <div>
        <input type="submit" value="Submit">
        <input type="reset" value="Reset">
        <input type="button" value="Index" onclick="javascript: location.href='/admin/index'">
      </div>
    </form>
  </body>

</html>
