<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
  </head>

  <body>
    <form name="addevent" action="add" method="post" accept-charset="utf-8" >
      <h1><%= title %></h1>
      <div>
        <label>category: </label>
        <input type="text" name="Category" placeholder="category">
      </div>
      <div>
        <label>event name: </label>
        <input type="text" name="EventName" placeholder="eventname">
      </div>
      <div>
        <label>content: </label>
	<textarea name="Content" placeholder="content"></textarea>
      </div>
      <div>
        <input type="submit" value="Submit">
        <input type="reset" value="Reset">
        <input type="button" value="Index" onclick="javascript: location.href='/admin/index'">
      </div>
    </form>
  </body>

</html>
