<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../CSS/albums.css">
        <!--
        <style type="text/css">
            .col {
                width: 50%;
                float: left;
            }
            .col {
                background-color: red;
            }
            .col + .col {
                background-color: royalblue;
            }
        </style>
        -->
    </head>
    <body>
        <div id="Head">
        </div>
        <div id="Body">
            <div class="container">
                <div class="col">
                    <div id="OneAlbum">
                    相簿名稱：<br>
                    <a href="http://bit.ly/2TezaVb"><img src="http://bit.ly/2TezaVb" border="0"></a><br>
                    建立時間：<br>
                    建立者：<br>
                    </div>
                    <div id="OneAlbum">
                    相簿名稱：<br>
                    <a href="http://bit.ly/2TezaVb"><img src="http://bit.ly/2TezaVb" border="0"></a><br>
                    建立時間：<br>
                    建立者：<br>
                    </div>
                </div>
                <div class="col">
                    <div id="OneAlbum">
                    相簿名稱：<br>
                    <a href="http://bit.ly/2TezaVb"><img src="http://bit.ly/2TezaVb" border="0"></a><br>
                    建立時間：<br>
                    建立者：<br>
                    </div>
                    <div id="OneAlbum">
                    相簿名稱：<br>
                    <a href="http://bit.ly/2TezaVb"><img src="http://bit.ly/2TezaVb" border="0"></a><br>
                    建立時間：<br>
                    建立者：<br>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>