<!DOCTYPE html>
<html>
    <head>
    <title>NTU CSIE WEB Administrator Login</title>
    <link rel="stylesheet" href="../CSS/admin_Login.css">
    </head>
    <body bgcolor="orange">
        <div class="main">
            <h1>
                NTU CSIE WEB<br>
                後台登入介面
            </h1>
            <form>
                <input type="text" value="User" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'User';}"
                   required="">
                <input type="password" value="Password" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'Password';}"
                   required="">
                <input type="submit" value="Login">
            </form>
        </div>
    </body>
</html>