<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="/static/CSS/admin_homebar.css">
    </head>
    <body>
        <div class="Menu">
            <ul>
                <li><a href="http://localhost:9805/admin/events" title="Events">Events</a></li>
                <li><a href="http://localhost:9805/admin/projects" title="Projects">Projects</a></li>
                <li><a href="http://localhost:9805/admin/albums" title="Albums">Albums</a></li>
            </ul>
        </div>
        
    </body>
</html>